@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.title{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 2rem;
}

.num_of_todos{
    font-family: 'Outfit', sans-serif;
    text-align: center;

}