.input_container{
    position: relative;
    bottom: 0;
}


.input{
    border: none;
    margin: 1rem;
    padding: 0.75rem;
    width: 80%;
    border-radius: 10px;
}
.input:focus{
    outline: none;
}